<%= content_for :on_ready do %>
  init_translation_form();
<% end %>

<%= form_for([@user, @translation]) do |f| %>
  <%= f.error_messages %>

  <%= f.fields_for :source do |ff| %>
    <%= ff.label :content, "Source term" %><br />
    <%= ff.text_field :content %>
  <% end %>
  
  <br/>

  <%= f.fields_for :target do |ff| %>
    <%= ff.label :content, "Target term" %><br />
    <%= ff.text_field :content %>
  <% end %>
  
  <br/>

  <%= f.fields_for :domains do |ff| %>
    <div class="domain_row <%= ff.object.new_record? ? 'new_domain none' : 'existing_domain'%>">
      <%= ff.label :content, "Domain" %><br />
      <%= ff.text_field :content %>
      <%- unless ff.object.new_record? %>
        <%= ff.check_box :_destroy %>
      <%- end %>
      <a href='#remove' class='remove_domain_row'>remove domain</a>
    </div>
  <% end %>
  <a href='#add' class='add_domain_row'>add domain</a>
  
  <br/>
  
  <%= f.label :is_public %>
  <%= f.check_box :is_public %>
  
  <br/>
  
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
