<h1>Listing translations</h1>

<table>
  <tr>
    <th>Source</th>
    <th>Target</th>
    <th>Domains</th>
    <th>Public?</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @translations.each do |translation| %>
  <tr>
    <td><%= translation.source.content %></td>
    <td><%= translation.target.content %></td>
    <td><%= translation.domains.collect{|d| d.content}.join(",") %></td>
    <td><%= translation.is_public ? "Yes" : "No" %></td>
    <td><%= link_to 'Show', [@user, translation] %></td>
    <td><%= link_to 'Edit', [:edit, @user, translation] %></td>
    <td><%= link_to 'Destroy', [@user, translation], :confirm => 'Are you sure?', :method => :delete %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New Translation', [:new, @user, :translation] %>
