<p>
  <b>Source:</b>
  <%= @translation.source.content %>
</p>

<p>
  <b>Target:</b>
  <%= @translation.target.content %>
</p>

<p>
  <b>Domains:</b>
  <%= @translation.domains.collect{|d| d.content}.join(",") %>
</p>


<%= link_to 'Edit', [:edit, @user, @translation] %> |
<%= link_to 'Back', [@user, :translations] %>
